<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="博客后台管理页面">
    <meta name="author" content="吕系小">
    <link rel="icon" href="http://127.0.0.1:8080/lvxixiao/images/favicon.ico">

    <title>博客后台管理页面</title>

    <!-- Bootstrap core CSS -->
    <link href="http://127.0.0.1:8080/lvxixiao/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://127.0.0.1:8080/lvxixiao/css/dashboard.css" rel="stylesheet">
    <link href="http://127.0.0.1:8080/lvxixiao/css/main.css" rel="stylesheet">
    
    <script type="text/javascript" src="http://127.0.0.1:8080/lvxixiao/js/jquery.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/lvxixiao/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="http://127.0.0.1:8080/lvxixiao/js/articleAdmin.js"></script>
    
    
    <script type="text/javascript" src="http://malsup.github.io/jquery.form.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/lvxixiao/js/uploading.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/lvxixiao/js/commentAdmin.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/lvxixiao/js/tagAdmin.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8080/lvxixiao/js/accountAdmin.js"></script>
    

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">博客后台管理页面</a>
        </div>       
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="javascript:void(0)" onclick="articleAdmin()">文章管理</a></li>
            <li><a href="javascript:void(0)" onclick="commentAdmin()">留言板管理</a></li>
            <li><a href="javascript:void(0)" onclick="upload()">文章上传</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="javascript:void(0)" onclick="tagAdmin()">标签管理</a></li>
            <li><a href="javascript:void(0)" onclick="tagAdd()">添加标签</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="javascript:void(0)" onclick="updateAccount()">管理账号</a></li>
          </ul>
          <!--
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
          -->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <input type="text" id="current" value="0" style="display:none"/>
          <input type="text" id="number" value="0" style="display:none"/>
          <input type="text" id="pageCount" value="0" style="display:none"/>
          <h2 class="sub-header" id="optionHeader"></h2>
          <div class="table-responsive" id="adminList">
          </div>
          <div class="pagelist" id="page"></div>
        </div>
      </div>
    </div>
  </body>
</html>
